<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="vn.hunghd.flutterdownloader">

    <!-- See https://developer.android.com/training/package-visibility -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>
